<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
</head>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Face Scanner technology</h1>
      <p class="lead"></p>
    </div>
  </div>
  <div class="scan">
    <img src="{{url_for('video')}}" width="10px">
  </div>
</body>

</html>