<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>Hardware Monitoring</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="pieChart">PieChart</a></li>
                <li><a href="barChart"> BarChart</a></li>
                <!-- <li><a href="#">Page 3</a></li> -->
            </ul>
        </div> 
    </nav>
    <h1 style="text-align:center">Hardware Monitoring</h1>
    <div><canvas id="myChart" style="width:100%;max-width:800px"></canvas></div>

    <script>
        function delay(delayInms) {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve(2);
                }, delayInms);
            });
        }

        async function sample() {
            console.log('a');
            console.log('waiting...')

            testingBarChart();

            let delayres2 = await delay(2000);
            window.location.reload();
            console.log('b');

        }

        sample()

        function testingBarChart() {
            let data = JSON.parse('{{data| tojson | safe}}')
            var xValues = ["RAM Usage", "CPU Usage", "Virtual Memory Usage", "Swap Memory Usage", "Storage Usage"];
            var yValues = [data[0]['ram_usage'], data[0]['cpu_usage'], data[0]['virtual_memory'], data[0]['swap_memory'], data[0]['disk_usage']];
            var barColors = [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ];

            new Chart("myChart", {
                type: "horizontalBar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: ""
                    }
                }
            });


        }

        testingBarChart()
    </script>
</body>

</html>