<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <button type="button" id="pieChart" class="btn btn-primary btn-sm">pieChart</button>
    <button type="button" id="barChart" class="btn btn-secondary btn-sm">barChart</button>
    <script>
        document.getElementById("pieChart").onclick = function () {
        location.href = "pieChart";
    };
        document.getElementById("barChart").onclick = function () {
        location.href = "barChart";
    };
    </script>
</body>
</html>