<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><strong>Hardware Monitoring</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="pieChart">PieChart</a></li>
                <li><a href="barChart">BarChart</a></li>
                <!-- <li><a href="#">Page 3</a></li> -->
            </ul>
        </div>
    </nav>

    <h1 style="text-align:center">Hardware Monitoring</h1>
    <div class="wrapper" style=" display: grid; grid-template-columns: repeat(3, 1fr); grid-auto-rows: 250px;">
        <div> <canvas id="myChart1" style="width:100%;max-width:800px"></canvas></div>
        <div> <canvas id="myChart2" style="width:100%;max-width:800px"></canvas></div>
        <div> <canvas id="myChart3" style="width:100%;max-width:800px"></canvas></div>
        <div> <canvas id="myChart4" style="width:100%;max-width:800px"></canvas></div>
        <div> <canvas id="myChart5" style="width:100%;max-width:800px"></canvas></div>
        <div> <canvas id="myChart6" style="width:100%;max-width:800px"></canvas></div>
    </div>
    <script>
        function delay(delayInms) {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve(2);
                }, delayInms);
            });
        }

        async function sample() {
            console.log('a');
            console.log('waiting...')

            testingPieChart();

            let delayres2 = await delay(2000);
            window.location.reload();
            console.log('b');

        }

        sample()
        function testingPieChart() {
            let data = JSON.parse('{{data| tojson | safe}}')
            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['ram_usage'], 100 - data[0]['ram_usage']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart1", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "RAM Usage"
                    }
                }
            });

            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['cpu_usage'], 100 - data[0]['cpu_usage']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart2", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "CPU Usage"
                    }
                }
            });

            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['virtual_memory'], 100 - data[0]['virtual_memory']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart3", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Virtual Memory Usage"
                    }
                }
            });

            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['swap_memory'], 100 - data[0]['swap_memory']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart4", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Swap Memory Usage"
                    }
                }
            });

            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['disk_usage'], 100 - data[0]['disk_usage']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart5", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Disk Usage"
                    }
                }
            });

            var xValues = ['usage', 'no-usage'];
            var yValues = [data[0]['cpu_usage'], 100 - data[0]['cpu_usage']];
            var barColors = [
                "#b91d47",
                "#00aba9"
            ];
            new Chart("myChart6", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Usage CPU"
                    }
                }
            });

        }


    </script>
</body>

</html>